* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d31d1d;
    /* The deep red background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
    width: 300px;
    height: 30px;
    border-radius: 7px;
    /* border: none; */
}

.icon button {
    /* width: 70px; */
    padding: 4px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}

.value {
    width: 60%;
    height: 30px;
    border-radius: 5px;
}

.buts button {
    width: 70px;
    padding: 2px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}

.container {
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, #f4d03f 60%, #1a1a1a 100%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 4px solid #000;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: -1000;
}