* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 450px;
    /* margin-left: 25px; */
}
.header h3{
    font-size: 20px;
    color: #00f2fe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; 
    padding: 40px;
    width: 450px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 4px solid transparent; 
    background-image: 
        linear-gradient(rgba(20, 25, 30, 0.9), rgba(20, 25, 30, 0.9)),
        linear-gradient(135deg, #00f2fe 0%, #7a00ff 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 30px rgba(0, 242, 254, 0.2); 

}
.input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input input {
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    
}

.input input:focus {
    border-color: cadetblue;
}

.functions {
    margin-top: 10px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px;
}

.functions button {
    width: 55px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.functions button:hover {
    background-color: #467677;
}

.output {
    color: white;
    margin-top: 10px; 
    width: 100%;
    background-color: #111;
    border-radius: 10px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.2);
}